<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appme.story">

    <!-- akses penuh Internet. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- baca konten kartu SD Anda -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- mengubah atau menghapus konten kartu SD Anda -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:resizeableActivity="false">

        <activity
            android:name=".application.ApplicationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".DebugActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>